*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  justify-content: center; /*ничего не поменялось */
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  gap: 30px;
  /*
  justify-content: center;
  не вижу изменений
  */
  align-items: end;
  width: 1140px;
  height: 534px;
}

.result {
  grid-area: 1/1/1/1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  height: 386px;
  /*padding-bottom: 16px;*/
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__details {
  grid-area: 1/2/1/2;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
  
}

.content__list-container {
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  min-width: 100%;
  flex-grow: 1;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.9;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card-title {
  text-transform: uppercase;
  white-space: nowrap;

  overflow: hidden; /*не работает у меня
  */
  text-overflow: ellipsis;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  /*line-height: 1; в макетете так*/
}

.content__video-card-description {
  font-weight: 400;
  line-height: 0.9;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  /*никакие города не попадают у меня*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
